﻿@model UserRequest

<div>
    <div class="alert alert-success">
        SignUp
    </div>
    <form method="post" action="SignUp">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="UserName" class="form-control"/>
        <input asp-for="Password" class="form-control" />
        <input asp-for="Address" class="form-control" />
        @*<input asp-for="Salt" class="form-control" />*@
        <input asp-for="Cell" class="form-control" />

        <input type="submit" class="form-control" />
</form>
</div>