﻿<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@model List<UserResponse>;

@if (TempData["deleteUserResult"] != null)
{
    if ((int)TempData["deleteUserResult"] == 1)
    {
        <script>
            swal("User Deleted successfully!", "", "success");
            @*@TempData.Remove("deleteUserResult");*@
        </script>
    }
    else
    {
        <script>
            swal("Error!", "", "error");
        </script>

    }
}

    <div>
        <a asp-action="signup" class="btn btn-primary">Signup</a>
    </div>
    <div class="alert alert-secondary text-center" style="font-weight:bolder;font-size:30px;">
        All Users
    </div>
<div>
    <table class="table table-dark table-hover">
       <thead>
            <tr>
                <th>Username</th>
                <th>Address</th>
                <th>Cell</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
       </thead>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Address</td>
                <td>@user.Cell</td>
                <td><a asp-action="UpdateUser" class="btn btn-primary" asp-route-id="@user.Id">Update</a></td>
                <td><a asp-action="DeleteUser" class="btn btn-danger" asp-route-id="@user.Id">Delete</a></td>
            </tr>
        }
    </table>
</div>