﻿

    <div>
        <div class="row">
        <div class="col-5 "><a asp-action="signup" class="btn btn-outline-success form-control">Signup</a></div>
        <div class="col-5 ml-4"><a asp-action="Login" class="btn btn-outline-primary form-control">Login</a></div>
        </div>
        
    </div>
    