﻿<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@model UserRequest

<div>
    <div class="alert alert-success text-center" style="font-weight:bolder;font-size:26px;">
        SignUp
    </div>
    @if (TempData["message"] != null)
    {
        if ((int)TempData["message"] == 1)
        {
            <script>
                swal("User added successfully!","","success");
            </script>
        }
        else if ((int)TempData["message"] == 500)
        {
            <script>
                swal("Username already exists!", "", "error");
            </script>
        }
        else{
            <script>
                swal("Error!", "", "error");
            </script>

        }
    }
    <form method="post" action="SignUp">
        <div asp-validation-summary="All"></div>
        <input asp-for="UserName" class="form-control mt-2" placeholder="UserName"/>
        <input asp-for="Password" class="form-control mt-2" placeholder="Password" />
        <input asp-for="Address" class="form-control mt-2" placeholder="Address" />
        <input asp-for="Cell" class="form-control mt-2" placeholder="Cell" />

        <input type="submit" class="form-control btn btn-primary mt-2" />
</form>
</div>