﻿<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@model UserResponse
@if (TempData["message"] != null)
{
    if ((int)TempData["message"] == 1)
    {
        <script>
            swal("User Updated successfully!", "", "success");
        </script>
    }
    else
    {
        <script>
            swal("Error!", "", "error");
        </script>

    }
}
<div>
    <div class="alert alert-success text-center" style="font-weight:bolder;font-size:22px;">Update User</div>
    <form method="post" asp-action="UpdateUser">
        <input asp-for="Id" hidden class="form-control" />
        <input asp-for="UserName" class="form-control" />
        <input asp-for="Address" class="form-control" />
        <input asp-for="Cell" class="form-control" />
        <input type="submit" value="Update" class="btn btn-primary form-control"  />
    </form>
</div>